body>*{
  clear: both;
  float: left;
}

#json {
  border: 1px solid gray;
  border-radius: 3px;
  overflow: hidden;
}

#json, textarea {
  width: 80%;
  min-width: 364px; 
}

label, button {
  margin-top: 7px;
}
